.flex-none {
    display: block;
}

body {
    background-image: url(../img/hintergrund_Kontakt.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

h1 {
    color: #233A59;
}

h2 {
    color: #4A6D8C;
}

h3 {
    color: #4A6D8C;
}

label {
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1rem;
}

input {
    background-color: #E0E7ED;
    border-radius: 5px;
    border: none;
    padding: 15px;
    margin: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    /* Adjust spacing to match the provided header */
    font-family: 'Baloo Bhaijaan 2';
}

nav ul li a {
    text-decoration: none;
    color: #233A59;
    /* Adjust the color to match the provided header */
    font-weight: bold;
}

nav ul li a:hover {
    color: #4A6D8C;
    /* Adjust the color to match the provided header */
}

.navigation {
    gap: 20px;
    padding-right: 20px;
    font-family: 'Baloo Bhaijaan 2';
    Text-decoration: none;
    color: #233A59;
    font-weight: bold;
    font-size: 0.6rem;
}

.navigation:hover {
    color: #4A6D8C;
}

.adresse {
    gap: 20px;
    padding-right: 20px;
    font-family: 'Baloo Bhaijaan 2';
    Text-decoration: none;
    color: #233A59;
    font-weight: bold;
    font-size: 0.6rem;
}

.adresse:hover {
    color: #4A6D8C;
}

.buttonHomepage:hover {
    background-color: #C9D3EB;
    box-shadow: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.eingabefeld {
    width: calc(100% - 70px);
}

.organisationtablet label {
    width: 10px;
    margin-left: 10px;
}

.nametablet label {
    width: 10px;
    margin-left: 10px;
}

.betrefftablet label {
    width: 10px;
    margin-left: 10px;
}

.nachrichttablet label {
    width: 10px;
    margin-left: 10px;
}

.checkboxtablet {
    display:flex;
    align-items: baseline;
    flex: 1 100%;
}

.checkboxtablet label {
    width: calc(100% - 166px);
    margin-left: 5px; 
}

#checkbox{
    margin-left: 16px;
    transform: scale(2);
}

/* Tablet */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .left {
        width: 70%;
    }

    .right {
        width: 30%;
        margin: 0;
    }

    .right img{
        width: 100%;
        margin: 0px;
    }

    .navigation {
        gap: 20px;
        padding-right: 20px;
        font-family: 'Baloo Bhaijaan 2';
        Text-decoration: none;
        color: #F2623A;
        font-weight: bold;
        font-size: 1.5rem;
    }

    form {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        margin: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255,0.7);
    }

    .container{
        max-width: 720px;
    }

    


    /* CSS rules for tablets */
    article {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .container {
        max-width: 720px;



        .flex {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
        }
    }

    .order-1 {
        order: 1;
    }

        form{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        .adresse {
            gap: 20px;
            padding-right: 20px;
            font-family: 'Baloo Bhaijaan 2';
            Text-decoration: none;
            color: #233A59;
            font-weight: bold;
            font-size: 1.5rem;
        }
    
        .adresse:hover {
            color: #4A6D8C;
        }

        #organisation{
            max-width: 100%;
            margin-right: 10px;
        } 

        #vorname{
            max-width: 300px;
            margin-right: 10px;
        }

        #nachname{
            max-width: 300px;
            margin-right: 10px;
        }

        #email{
            max-width: 300px;
        }

        #number{
            max-width: 300px;
        }      

        #betreff{
            max-width: 100%;
            margin-right: 10px;
        }

        #nachricht{
            max-width: 100%;
            margin-right: 10px;
            height: 120px;
        }

        #checkbox{
            margin-left: 120px;
            transform: scale(2);
        }

        .nametablet{
            display: flex;
            align-items: baseline;
            align-content: flex-start;
            flex-wrap: wrap;
            justify-content: center;
        } 

        .nametablet div {
            display:flex;
            align-items: baseline;
            flex: 1 50%;
        }

        .nametablet label {
            width: 142px;
            margin-left: 10px;
        }

        .organisationtablet {
            display:flex;
            align-items: baseline;
            flex: 1 100%;
        }

        .organisationtablet label {
            width: 110px;
            margin-left: 10px;
        }


        .betrefftablet {
            display:flex;
            align-items: baseline;
            flex: 1 100%;
        }

        .betrefftablet label {
            width: 110px;
            margin-left: 10px;
        }

        .nachrichttablet {
            display:flex;
            align-items: start;
            flex: 1 100%;
        }

        .nachrichttablet label {
            width: 110px;
            margin-left: 10px;
            margin-top: 15px;
        }

        .checkboxtablet {
            display:flex;
            align-items: baseline;
            flex: 1 100%;
        }

        .checkboxtablet label {
            width: calc(100% - 258px);
            margin-left: 10px;
        }

        .buttonhomepage{
            margin-left: 60px;
            
        }

}


@media (min-width: 992px) {
    .container {
        max-width: 960px;
    } 
    
    .nametablet{
        display: flex;
        align-items: baseline;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    } 

    .nametablet div {
        display:flex;
        align-items: baseline;
        flex: 1 50%;
    }

    .nametablet label {
        width: 128px;
        margin-left: 10px;
    }

    .checkboxtablet label {
        width: calc(100% - 262px);
        margin-left: 10px;
    }

    #checkbox{
        margin-left: 124px;
        transform: scale(2);
    }
}