
.flex-none{
    display: block;
}

body {
    background-image: url(../img/hintergrund_Kontakt.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

h1{
    color: #233A59;
}

h2{
    color: #4A6D8C;
}

h3{
    color: #4A6D8C;
}

label{
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1rem; 
}

input{
    background-color: #E0E7ED;
    border-radius: 5px;
    border-color: #E0E7ED;
    padding: 15px;
    margin: 10px;
}

.buttonHomepage:hover {
    background-color: #C9D3EB;
    box-shadow: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.eingabefeld{
    width: calc(100% - 70px);
}

/* Tablet */
@media screen and (min-width: 768px){
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    .left {
        width: 70%;
    }

    .right {
        width: 30%;

    }

    form {
        display: flex;
        flex-flow: row wrap;
    }

    

    /* CSS rules for tablets */
    article {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .container {
        max-width: 720px;

    .order-1 {
        order: 1;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
}