/* Basic CSS Definitions */

h1 {
    color: green;
    font-family: 'Coiny';
    font-size: 3rem;
    line-height: 130%;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.smaller {
    font-size: 50%;
}

h2 {
    font-family: 'coiny';
    font-size: 2rem;
    color: #92c53e;
    line-height: 130%;
}

h3 {
    font-family: 'coiny';
    font-size: 1.5rem;
    color: green;
    line-height: 130%;
}

h4 {
    font-family: 'coiny';
    font-size: 1rem;
    color: #87c540;
    line-height: 130%;
}

p {
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1.5rem;
}


ul {
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1.5rem;
}


header {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo {
    width: 50px;
    padding-left: 20px;
}

footer {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .logo {
    width: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    font-family: 'Baloo Bhaijaan 2';
}

nav ul li a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

nav ul li a:hover {
    color: #92c53e;
}

body {
    background-image: url(../img/background_karte.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

article {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.buttonHomepage:hover {
    background-color: #c9e08b;
    box-shadow: none;
}

.buttonHomepage {
    font-family: 'Baloo Bhaijaan 2';
    background-color: green;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 4px 2px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: -4px 4px black;
}

.containers {
    width: calc(100% - 30px);
    margin: 20px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}


.innerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 20px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 20px;
}

.navigation {
    gap: 20px;
    padding-right: 20px;
    font-family: 'Baloo Bhaijaan 2';
    Text-decoration: none;
    color: green;
    font-weight: bold;
}

.navigation:hover {
    color: #92c53e;
}


.adresse {
    gap: 20px;
    padding-right: 20px;
    font-family: 'Baloo Bhaijaan 2';
    Text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
}

.adresse:hover {
    color: #92c53e;
}

















/* Erste Box */

.Box1 {
    display: flex;
    flex-direction: row;
}


.links {
    width: 60%;
    margin: 20px;
}

#picright {
    width: 40%;
    margin: 20px;
}

.img {
    width: 100%;
}

.box{
    width: 100%;
    margin: ;
}


















/* Zweite Box */

#container1 {
    display: flex;
    flex-direction: column;
}

#container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bildli{
    margin: 20px;
    width: 50%;
}
.card {
    width: 100%;
    align-items: center;
}

.text2 {
    width: 50%;
    margin: 20px;
}

#container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

#youngnature {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

#button1 {
    width: 30%;
    justify-content: center;
    margin-left: 4rem;
}

#button2 {
    width: 30%;
    justify-content: center;
}

.bulltepoints{
    margin: 20px;
}

.bulltepoints ul {
    margin-top: 0px;
    margin-bottom: 0px;
}






















/* Dritte Box */

#container4 {
    display: flex;
    flex-direction: column;
}

.titel3 {
    display: flex;
    justify-content: center;
}

#container5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.Migros {
    margin-right: 9rem;
    margin-left: -6rem;
}






















/* Vierte Box */

#container6 {
    display: flex;
    flex-direction: column;
}

.titel4 {
    display: flex;
    justify-content: center;
}

.ratings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#articlesophie {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 2rem;
}

.Sophie {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#Rating1 {
    display: flex;
    color: #87c540;
    justify-content: center;
}

#articlejonas {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 2rem;
}

.Jonas {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#Rating2 {
    display: flex;
    color: #87c540;
    justify-content: center;
}

#review1 {
    font-size: 1rem;
}

#review2 {
    font-size: 1rem;
}















































/* Media Query für Bildschirmbreite bis 768px */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1rem;
    }

    p,
    ul {
        font-size: 0.9rem;
    }

    .Box1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    #container2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .card {
        flex-direction: column;
        width: 100%;
    }

    .text2 {
        width: calc(100% - 40px);
        margin-right: 20px;
    }

    #container3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem;
    }

    #youngnature {
        margin-right: 0;
        margin-bottom: 1rem;
        justify-content: center;
    }

    #button1,
    #button2 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #container5 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem;
    }

    .Migros {
        margin-right: 0;
        margin-left: 0;
    }

    #container6 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #articlesophie,
    #articlejonas {
        width: 100%;
        margin: 1rem;
    }

    .Sophie,
    .Jonas {
        width: 100%;
    }

    .adresse {
        font-size: 1.2rem;
    }
}


















/* Media Query für Bildschirmbreite bis 576px */
@media screen and (max-width: 576px) {
    .containers {
        width: calc(100% - 30px);
        text-align: left;
    }
    
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 0.9rem;
    }

    p,
    ul {
        font-size: 0.8rem;
    }

    .Box1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(100% - 40px)
        margin: 20px;
    }

    .img {
        width: 60%;
    }

    .links {
        text-align: left;
        width: 100%;
        margin-bottom: 1rem;
    }

    #picright {
        justify-content: center;
        width: 100%;
    }

    #container2 {
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin-left: 0;
    }

    .containers{
        width: calc(100% - 40px);
        margin: 20px;
    }

    .bildli{
        width: calc(100% - 40px);
    }

    .card {
        width: 100%;
        margin-left: 0rem;
    }

    .text2 {
        width: calc(100% - 40px);
    }

    #container3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem;
    }

    #youngnature {
        margin-right: 0;
        margin-bottom: 1rem;
        align-items: center;
    }

    #button1,
    #button2 {
        width: 60%;
        justify-content: center;
    }

    #container5 {
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin: 1rem;
    }

    .Migros {
        margin-right: 0;
        margin-left: 0;
    }

    #container6 {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    #articlesophie,
    #articlejonas {
        width: 90%;
    }

    .Sophie,
    .Jonas {
        width: 100%;
    }

    .ratings {
        flex-direction: column;
    }

    #review1,
    #review2 {
        margin: 1rem;
    }

    #sophietitle,
    #jonastitle {
        margin: 1rem;
    }

    .adresse {
        font-size: 0.6rem;
    }

    .bulltepoints ul {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 20px;
    }
}