h1 {
    color: #060412;
}

h2 {
    color: #1D1B35;
}

h3 {
    color: #49486D;
}

h4 {
    color: #9077A3;
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1rem;
}

body {
    background-image: url(../img/background_rezepte.png);
}

img {
    width: 100%;
}

.buttonHomepage {
    margin-left: 20px;
}


.rezept {
    padding: 20px;
    width: 50%;
}

.table {
    padding-top: 20px;
    padding-bottom: 20px;
}

.table1 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.flex-none {
    display: block;
    padding: 20px;
}


#zutaten {
    width: 50%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
    flex-direction: column;
    justify-content: space-between;
}

.rezeptartikel {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1rem;
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
}

#zutatenliste :first-child {
    width: 30%;
    padding-right: 50px;
}

#zutatenliste :second-child {
    width: 70%;
}

#zutatenliste2 :first-child {
    width: 30%;
    padding-right: 50px;
}

#zutatenliste2 :second-child {
    width: 70%;
}

label {
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1.5rem;
}

#topbutton {
    display: flex;
    justify-content: flex-end;
}

#buttonWeitereRezepte {
    display: flex;
}

input {
    background-color: #B1A3D9;
    border-radius: 5px;
    border-color: #B1A3D9;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    width: calc(100% - 60px);
}

.eingabefeld {
    display: flex;
    align-items: baseline;
    flex: 1 100%;
    width: calc(100% - 60px);
}

.smalltext {
    font-size: 1rem;
}

.checkboxtablet {
    display: flex;
    justify-content: right;
    margin-right: 15px
}

.flex-container {
    display: flex;
    justify-content: center;
}

#flex-item {
    flex-grow: 0;
}

.buttonHomepage:hover {
    background-color: #CDC0D8;
    box-shadow: none;
}

.navigation{
    gap: 20px;
    padding-right: 20px;
    font-family: 'Baloo Bhaijaan 2';
    Text-decoration: none;
    color: #060412;
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation:hover {
    color: #CDC0D8;
}  

/* Tablet */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .left {
        width: 70%;
    }

    .right {
        width: 30%;

    }

    /* CSS rules for tablets */
    article {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .container {
        max-width: 720px;

        .order-1 {
            order: 1;
        }
    }


}

@media screen and (max-width: 576px) {
    .container {
        max-width: 960px;
    }

    .eingabefeld {
        max-width: 100%;
        margin: 10px;

    }

    .rezept {

        width: 100%;
        align-items: center;
        justify-content: space-between;

    }

    .rezeptartikel {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 130%;
    }

    h4 {
        font-size: 0.9rem;
    }


    label {
        font-size: 0.75rem;
    }


    .flex {
        flex-direction: column;
        align-items: center;
    }

    #zutaten {
        width: 100%;
        display: flex;
        margin-top: 20px;
        margin-bottom: 60px;
        flex-direction: column;
        justify-content: space-between;
    }

    .table {
        width: 100%;
    }

    #zutatenliste :first-child {
        width: 25%;
        padding-right: 20px;
    }

    #zutatenliste :second-child {
        width: 30%;
    }

    #zutatenliste2 :first-child {
        width: 25%;
        padding-right: 20px;
    }

    #zutatenliste2 :second-child {
        width: 30%;
    }

    .smalltext {
        font-size: 0.75rem;
    }

    td {
        font-size: 0.75rem;
    }

    .buttonHomepage {
        margin-left: 0px;
    }

    .table {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .table1 {
        padding-top: 7px;
        padding-bottom: 2px;
    }
}