h1 {
    color: #060412;
}

h2 {
    color: #1D1B35;
}

h3 {
    color: #49486D;
}

h4 {
    color: #9077A3;
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1rem;
}

body {
    background-image: url(../Img/background_rezepte.png);
}

img {
    width: 428px;
    margin: 20px;
}


.buttonHomepage {
    margin-left: 20px;
    margin-right: 600px;
}

#rezeptbild {
    width: 50%;
}


#zutaten {
    width: 50%;
    display: flex;
    height: 540px;
    margin-top: 20px;
    margin-bottom: 60px;
    flex-direction: column;
    justify-content: space-between;
}

#rezeptartikel {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1rem;
    border-collapse: separate;
    border-spacing: 0px;
    width: 150%;
}

#zutatenliste :first-child{
    width:120.9px;
}

label {
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1rem;
}

#topbutton{
    justify-content: flex-end;
}


/* Tablet */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .left {
        width: 70%;
    }

    .right {
        width: 30%;

    }

    /* CSS rules for tablets */
    article {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .container {
        max-width: 720px;

        .order-1 {
            order: 1;
        }
    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
}