h1 {
    color: #CE2B26;
    font-family: 'Coiny';
    font-size: 3rem;
    line-height: 130%;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.smaller {
    font-size: 50%;
}

h2 {
    font-family: 'coiny';
    font-size: 2rem;
    color: #F2623A;
    line-height: 130%;
}

p {
    font-family: 'Baloo Bhaijaan 2';
    font-size: 1rem;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo {
    width: 50px;
    padding-left:  20px;
}

footer {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .logo {
    width: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    /* Adjust spacing to match the provided header */
    font-family: 'Baloo Bhaijaan 2';
}

nav ul li a {
    text-decoration: none;
    color: #F2623A;
    /* Adjust the color to match the provided header */
    font-weight: bold;
}

nav ul li a:hover {
    color:#F6B49B;
    /* Adjust the color to match the provided header */
}

body {
    background-image: url(../img/Background_Landingpage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    overflow-x: hidden;
}

article {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.left {
    margin: 20px;
}

.right {
    margin: 20px;
}

.right img {
    width: 100%;
    height: auto;
}


.buttonHomepage {
    font-family: 'Baloo Bhaijaan 2';
    background-color: #8B593B;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: -4px 4px black;
}


.buttonHomepage:hover {
    background-color: #F6B49B;
    box-shadow: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}


.innerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 20px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.navigation {
    gap: 20px;
    padding-right: 20px;
    font-family: 'Baloo Bhaijaan 2';
    Text-decoration: none;
    color: #F2623A;
    font-weight: bold;
}

.navigation:hover {
    color: #F6B49B;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .left {
        width: 70%;
    }

    .right {
        width: 30%;

    }

    /* CSS rules for tablets */
    article {
        display: flex;
        flex-direction: row;
    }

    .container {
        max-width: 100%; /* Instead of fixed pixels, use 100% */
        padding-left: 15px;
        padding-right: 15px;
    }
    .order-1 {
        order: 1;
    }
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 3vw;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}
