h1 {
    color: #F99F4E;
}

h2 {
    color: #f2b827;
}

body {
    background-image: url(../Img/BackgroundimageüBERUNS.png);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    /* Adjust spacing to match the provided header */
    font-family: 'Baloo Bhaijaan 2';
}

nav ul li a {
    text-decoration: none;
    color: #F99F4E;
    /* Adjust the color to match the provided header */
    font-weight: bold;
}

nav ul li a:hover {
    color: #F2B827;
    /* Adjust the color to match the provided header */
}

.navigation {
    gap: 20px;
    padding-right: 20px;
    font-family: 'Baloo Bhaijaan 2';
    Text-decoration: none;
    color: #F99F4E;
    font-weight: bold;
    font-size: 0.6rem;
}

.navigation:hover {
    color: #F2B827;
}

.flex-none {
    display: block;
}

.flex-item {
    width: calc(100% - 30px);
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.flex-item:last-child {
    margin-bottom: 0;
}

.flex5 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.objects {
    padding-left: 15px;
    padding-right: 15px;
}


.image-container img {
    position: relative;
    transition: opacity 1.0s ease;
}

.image-container .image-default {
    display: block;
}

.image-container .image-hover {
    display: none;
}

.image-container:hover .image-default {
    display: none;
}

.image-container:hover .image-hover {
    display: block;
}


.mitarbeiter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: calc(100%-30px);
}

.bild {
    width: calc(100% - 30px);
    padding: 20px;
    height: auto;

}

.test1 {
    padding: 20px;
    margin-top: 20px;
}

.namemit {
    font-size: 1rem;
}

.adresse {
    gap: 20px;
    padding-right: 20px;
    font-family: 'Baloo Bhaijaan 2';
    Text-decoration: none;
    color: #F99F4E;
    font-weight: bold;
    font-size: 0.6rem;
}

.adresse:hover {
    color: #F2B827;
}

.iframe-container{
    display: none;
}
/* Tablet */
@media screen and (min-width: 768px) {
    .iframe-container {
        display: block;
        position:relative;
        width: calc(100% - 20px);
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
    }

    .iframe-container iframe {
        position:absolute;
        padding-left: 20px;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    .adresse:hover {
        color: #F2B827;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .left {
        width: 70%;
    }

    .right {
        width: 30%;

    }

    .namemit {
        font-size: 1.5rem;
    }

    /* CSS rules for tablets */
    article {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .container {
        max-width: 720px;

        .order-1 {
            order: 1;
        }
    }

    .image-container img {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        transition: opacity 1.0s ease;
    }

    .flex {
        justify-content: center;
        flex-direction: row;
    }

    .flex-item {
        width: calc(33.33% - 30px);
        margin: 5px;
    }

    .mitarbeiter {
        width: calc(33.33% - 30px);
        margin: 5px;
    }

    .flex5 {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navigation {
        gap: 20px;
        padding-right: 20px;
        font-family: 'Baloo Bhaijaan 2';
        Text-decoration: none;
        color: #F99F4E;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .navigation:hover {
        color: #F2B827;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}